body {
    height: 100%;
    padding:0;
    margin:0;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header, footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: cadetblue;
}


header {
    height: 50px;
    top: 0;
}


footer {
    height: 50px;
    bottom: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


.etch-a-sketch {
    width: 600px;
    height: 600px;
    background-color: red;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#screen {
    width: 500px;
    height: 420px;
    padding: 8px;
    background-color: lightgray;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: auto;
    align-content: start;
}

/* This is our 'empty' cell square */
#square {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    flex: 0 0 auto;
    margin: 1px;
}

/* And this is it once hovered over */
#hovered {
    width: 50px;
    height: 50px;
    background-color: rgb(56, 56, 56);
    flex: 0 0 auto;
    margin: 1px;
}