body {
    height: 100%;
    padding:0;
    margin:0;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header, footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    color: aliceblue;
    background-color: lightblue;
}


header {
    height: 50px;
    top: 0;
}


footer {
    height: 50px;
    bottom: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


h3 {
    font-size: 1vw;
    color: gold;
}


#etch-a-sketch {
    width: 30vw;
    height: 65vh;
    /* padding-left: 40px; */
    padding-right: 1%;
    padding-bottom: 5%;
    background-color: red;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#screen-container {
    width: 80%;
    height: 80%;
    display: flex;
}


#screen {
    width: 100%;
    height: 100%;
    padding: 8px;
    aspect-ratio: 1 / 1;
    background-color: lightblue;
    border-radius: 20px;
    display: grid;
}


.toolbar {
    margin-top: 12%;
    display: flex;
    align-items: baseline;
}

.toolbar button {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border-radius: 20px;

}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: aliceblue; 
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: aliceblue; /* Green background */
  border-radius: 8px;
  cursor: pointer; /* Cursor on hover */
}

/* This is our 'empty' cell square */
#square {
    width: 100%;
    height: auto;
    background-color: lightblue;
}

/* And this is it once hovered over */
#hovered {
    width: 100%;
    height: auto;
    background-color: rgb(56, 56, 56);
}