body {
    height: 100%;
    padding:0;
    margin:0;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header, footer {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: lightblue;
}


header {
    height: 50px;
    top: 0;
}


footer {
    height: 50px;
    bottom: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}


h3 {
    font-size: 1vw;
}


#etch-a-sketch {
    width: 30vw;
    height: 60vh;
    padding-bottom: 5%;
    background-color: red;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#screen {
    width: 80%;
    height: 80%;
    padding: 8px;
    background-color: lightblue;
    border-radius: 20px;
    display: grid;
}

/* This is our 'empty' cell square */
#square {
    width: 100%;
    height: auto;
    background-color: lightblue;
}

/* And this is it once hovered over */
#hovered {
    width: 100%;
    height: auto;
    background-color: rgb(56, 56, 56);
}